# Python 3.10.15

# Project dependencies
Flask~=3.0.3
Flask-Cors~=5.0.0
numpy~=1.26.4
pillow~=10.4.0
pydub~=0.25.1
python-dotenv~=1.0.1
scipy~=1.14.1
setuptools~=78.1.1
transformers~=4.52.1

# Model dependencies
torch~=2.7.1

# Project Modules
-e utils

# Linting tools
black
pylint

services
utils
